<div class="container" style="padding-top: 3rem">
  <h4></h4>
  <ul class="list-group list-group-vertical text-center">
    @for (item of items; track item) {
    <li class="list-group-item">{{ item }}</li>
    } @empty {
    <li class="list-group-item">Currently there are no items to display</li>
    }
  </ul>
  <div class="d-flex justify-content-center" style="padding-top: 1rem">
    <button
      type="button"
      class="btn btn-outline-primary mr-2"
      (click)="generateItems()"
    >
      Generate items
    </button>
    <button type="button" class="btn btn-lg btn-danger" (click)="removeItems()">
      Remove items
    </button>
  </div>
</div>
