<div class="container mt-3">
    <h1 class="h3">Dashboard</h1>
    <div class="grid">
        <div class="row">
            <div class="col-9" style="border:1px solid red;">Recent virtual machines</div>
            <div class="col-3" style="border:1px solid red;">
            @defer() { 
                <app-vms-logs></app-vms-logs>
            }
            </div>
        </div>
        <div class="row">
            <div class="col-12" style="border:1px solid red;">
            <h4 class="my-2">VM resource allocation</h4>
            @defer() {
                <app-vms-resource-usage></app-vms-resource-usage>
            }
            </div>
        </div>
    </div>
</div>
