@switch (country) { @case ("Bulgaria") {
<div class="card w-50 m-auto">
  <div class="card-body text-center">
    <h4 class="card-title">Switch between countries</h4>
    <p class="card-text">{{ country }}</p>
    <p class="card-text">{{ descBulgaria }}</p>
  </div>
</div>
} @case ("Romania") {
<div class="card w-50 m-auto">
  <div class="card-body text-center">
    <h4 class="card-title">Switch between countries</h4>
    <p class="card-text">{{ country }}</p>
    <p class="card-text">{{ descRomania }}</p>
  </div>
</div>
} @case ("Italy") {
<div class="card w-50 m-auto">
  <div class="card-body text-center">
    <h4 class="card-title">Switch between countries</h4>
    <p class="card-text">{{ country }}</p>
    <p class="card-text">{{ descItaly }}</p>
  </div>
</div>
} @default {
<div class="card w-50 m-auto">
  <div class="card-body text-center">
    <h4 class="card-title">Switch between countries</h4>
    <p class="card-text">Hello there! I am the DEFAULT!</p>
    <p class="card-text">
      If there is no match for any of the 3 cases, I come into play.
    </p>
  </div>
</div>
} }

<div class="d-flex justify-content-center">
  <div class="btn-group" role="group" aria-label="Country selection">
    <button
      type="button"
      class="btn btn-primary m-2"
      (click)="setCountry('Bulgaria')"
    >
      Bulgaria
    </button>
    <button
      type="button"
      class="btn btn-secondary m-2"
      (click)="setCountry('Romania')"
    >
      Romania
    </button>
    <button
      type="button"
      class="btn btn-success m-2"
      (click)="setCountry('Italy')"
    >
      Italy
    </button>
    <button
      type="button"
      class="btn btn-info m-2"
      (click)="setCountry('Default')"
    >
      Trigger The Default
    </button>
  </div>
</div>
