@switch (virtualMachine) { @case ("VmOne") {
<div class="card w-50 m-auto">
    <div class="card-body text-center">
        <h4 class="card-title">Switch virtual machines</h4>
        <p class="card-text">{{ virtualMachine }}</p>
        <p class="card-text">{{ descVmOne }}</p>
    </div>
</div>
} @case ("VmTwo") {
<div class="card w-50 m-auto">
    <div class="card-body text-center">
        <h4 class="card-title">Switch virtual machines</h4>
        <p class="card-text">{{ virtualMachine }}</p>
        <p class="card-text">{{ descVmTwo }}</p>
    </div>
</div>
} @case ("VmThree") {
<div class="card w-50 m-auto">
    <div class="card-body text-center">
        <h4 class="card-title">Switch virtual machines</h4>
        <p class="card-text">{{ virtualMachine }}</p>
        <p class="card-text">{{ descVmThree }}</p>
    </div>
</div>
} @default {
<div class="card w-50 m-auto">
    <div class="card-body text-center">
        <h4 class="card-title">Switch virtual machines</h4>
        <p class="card-text">Hello there! I am the DEFAULT!</p>
        <p class="card-text">
            If there is no match for any of the 3 cases, I come into play.
        </p>
    </div>
</div>
}}

<div class="d-flex justify-content-center">
    <div class="btn-group" role="group" aria-label="Country selection">
        <button type="button" class="btn btn-primary m-2" (click)="setVirtualMachine('VmOne')">
            VmOne
        </button>
        <button type="button" class="btn btn-secondary m-2" (click)="setVirtualMachine('VmTwo')">
            VmTwo
        </button>
        <button type="button" class="btn btn-success m-2" (click)="setVirtualMachine('VmThree')">
            VmThree
        </button>
        <button type="button" class="btn btn-info m-2" (click)="setVirtualMachine('Default')">
            Trigger The Default
        </button>
    </div>
</div>